@layer utilities {

  /* Chrome, Safari, Edge, Opera */
  input.number-arrows-none::-webkit-outer-spin-button,
  input.number-arrows-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input.number-arrows-none[type="number"] {
    -moz-appearance: textfield;
  }
}

/* Ensure the parent containers can handle overflow */
html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* Prevent body from scrolling */
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.overflow-y-auto {
  overflow-y: auto;
}